form {
  display: flex;
  flex-direction: column;

  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
  gap: 2rem;
}

.form-button {
  min-width: 200px;
  min-height: 2.5rem;
  align-self: center;
}

.form__div--charCount {
  align-self: flex-end;
  font-size: 0.6rem;
  color: grey;
}
